:root{
    --primary-color: #4a90e2;
    --secondary-color: #568203;
    --background-color: #02153f;
    --text-color: #ffffff;
    --accent-color: #030303;
    --header-font: 'Montserrat, sans-serif';
    --body-font: 'Open Sans, sans-serif';

}

a {
    color: var(--text-color);
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    font-family: var(--header-font);
}