:root{
    --secondary-color: #568203;
    --primary-color: #02153f;
    --background-color: #ffffff;
    --header-font: 'Montserrat, sans-serif';
    --body-font: 'Open Sans, sans-serif';

}

a {
    color: var(--text-color);
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--text-color);
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
    font-family: var(--header-font);
}