body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
    background-color: rgb(9, 167, 206);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
section {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
}